.card{
    background: #f1f1f1;
    max-width: 960px;
    margin: 30px auto;
    padding:  20px 30px;
    border-radius: 30px 30px 30px 30px;
    box-shadow: 1px 3px 5px rgba(0,0,0,0.5);	
}
.navbar-brand{
	padding-right:55%;
}
#content{
	display: flex;
    flex-direction: row;
    justify-content: space-around;
}
#left{
	display: flex;
    flex-direction: column;
    height: 120px;
    width: 100%;
}

#right{
	width: 40%;
	padding-top: 40px;
}

#title{
	width: 100%;
	height: 100%;
}
#info{
	text-align: left;
	width: 100%;
}
#btns{
	align-self: flex-start;	
	display: flex;
	/*justify-content: space-around;*/
	width: 50%;
}
body{
	background-color: #e7e7e7;
}
/*li{
    padding: 20px;
    background: #f6f6f6;
    font-size: 18px;
    color: #555;
    position: relative;
    border-bottom: 1px solid #e6e6e6;
    height: 46px;
}*/

h3{
	font-size: 18px;
}
#footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    font-size: 16px;
    text-align: right;
    margin-bottom: -12px;
    padding: 0px 20px 0px 0px;
}